In [1]:
#Start pack that i do for every EDA 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Calling our missing orders dataset

df = pd.read_csv(r"C:\Users\amcys\Documents\02.Education\01.Online Education\03.DataTech Florida - Jerry Strazzeri\09.Trabalhos Finais\walmart_project_resolution\treated datasets\full_missing_orders_data.csv")
pd.set_option('display.max_columns', None)
df.head(10)

,order_id,product_id,product_name,category,price
0,000e50be-92e8-46dc-9ff8-91a955b47ab7,PWPX0982761091093,Chocolate Milk,Supermarket,6.48
1,00243955-5e3f-49d7-beb7-e8452f1fe31d,PWPX0982761091086,Frozen Mozzarella,Supermarket,17.09
2,00f89d42-0bdd-471f-9fdc-70b86b344009,PWPX0982761090993,Ground Coffee,Supermarket,13.28
3,0128f8c1-e422-46f0-a233-8e36445518f5,PWPX0982761091005,Ketchup,Supermarket,17.79
4,0153b676-e29d-4d88-aeca-dfe4435d60f1,PWPX0982761091049,Baking Soda,Supermarket,19.55
5,0169654a-ae51-4d9a-86b8-a8f0c9b8d16f,PWPX0982761091068,Frozen Broccoli,Supermarket,11.26
6,0199be15-caf8-4a6a-9d37-da14fa2fdc95,PWPX0982761091018,Butter,Supermarket,3.85
7,019f0fc4-00ac-419e-aa4d-005a738c0197,PWPX0982761091105,Microsoft Surface Pro,Electronics,497.46
8,01b503a2-cd6d-4356-b296-c3669a8bbd1d,PWPX0982761091042,Shredded Carrots,Supermarket,13.83
9,02202dc8-99e9-4a8a-912d-887b5592760a,PWPX0982761091079,Canned Chickpeas,Supermarket,16.82

In [7]:
# Here we have a small dataframe about out missing orders only
# 

df.describe()

             price
count  1662.000000
mean     89.875217
std     201.186840
min       2.160000
25%       8.210000
50%      12.530000
75%      18.350000
max     908.870000